.top_button{
    position: fixed;
    top: 10px;
    left: 10px;
    background: burlywood;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    z-index: 10000000;
}
#top_div{
    position:absolute;
    top: 30px;
    left: 30%;
    width: 500px;
    border: 5px solid red;
    padding: 10px;
    z-index: 10000001;
    background-color: aliceblue;
}  